# Tidy Data in Python
The examples and code in this notebook are made by [Jean-Nicholas Hould](http://www.jeannicholashould.com/)

Detailed explanations for important code snippets are provided by Mervat Abuelkheir as part of the CSEN1095 Data Engineering Course.

The goal of this notebook is to show how a messy dataset can be tidied into proper rows representing objects, columns representing attributes, and cells representing scalar values.

Pay attention to the <span style="color:red"> <b> paragraphs in bold red</b></span>; they ask you to do something and provide input!

First thing we need to do is import some libraries.

In [2]:
import pandas as pd
import datetime # to handle date/time attributes
from os import listdir # os is a module for interacting with the OS
from os.path import isfile, join # to verify file object, and concatenate paths
import glob # to find pathnames matching a specific pattern
import re # regular expressions :)

## Examining the datasets

In this part of the exercise we will import a number of datasets and examine their structure to verify if the datasets are tidy.

Remember the requirements for a tidy dataset:
<br> 1- Each row describes a single object
<br> 2- Each column describes a property/attribute of that object
<br> 3- Column values have the same measurement unit
<br> 4- Columns contain atomic/scalar values (no multiple values per table cell)

For each dataset imported, test your ability to identify is it is tidy or not.

### Dataset 1: Pew Research Center

Pew Research Center is a famous center in the US that performs polling surveys on citizens. This is example data about the breakdown of yearly income per religion.

In [3]:
df = pd.read_csv("./data/pew-raw.csv")
df

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k
0,Agnostic,27,34,60,81,76,137
1,Atheist,12,27,37,52,35,70
2,Buddhist,27,21,30,34,33,58
3,Catholic,418,617,732,670,638,1116
4,Dont know/refused,15,14,15,11,10,35
5,Evangelical Prot,575,869,1064,982,881,1486
6,Hindu,1,9,7,9,11,34
7,Historically Black Prot,228,244,236,238,197,223
8,Jehovahs Witness,20,27,24,24,21,30
9,Jewish,19,19,25,25,30,95

<span style="color:red"> <b> What are the attributes of interest? How are they organized? Is the dataset tidy? </b></span> 
    
You can brainstorm your thought process and document in a new cell if you like.
<br>Instructions for beginners:
<br>- Add a new cell from the notebook menu above (+ button).
<br>- Double click anywhere inside the new cell to enter edit mode.
<br>- When done, press CTRL+ENTER or SHIFT+ENTER to commit content.
<br>- You can edit content anytime by double clicking inside the cell.

## Let's tidy the dataset!

The melt function is used to change the format of a pandas data frame from wide to long, assigning one column as an identifier and "unpivoting" the others.

In [3]:
# melt method takes as input a dataframe, one or more identifier attributes, one or more attribute names, and value attribute 
# define new pandas dataframe, religion column will be identifier attribute
# values spread across multiple column headers of income ranges will be unpivoted into new attribute "income"
# actual frequencies of citizens with specific income range will be unpivoted into new attribute "freq"
formatted_df = pd.melt(df,["religion"], var_name="income", value_name="freq")
formatted_df = formatted_df.sort_values(by=["religion"]) # just sorting the new table by religion attribute
formatted_df.head(10) # show first 10 rows

    religion    income  freq
0   Agnostic     <$10k    27
30  Agnostic   $30-40k    81
40  Agnostic   $40-50k    76
50  Agnostic   $50-75k   137
10  Agnostic   $10-20k    34
20  Agnostic   $20-30k    60
41   Atheist   $40-50k    35
21   Atheist   $20-30k    37
11   Atheist   $10-20k    27
31   Atheist   $30-40k    52

<span style="color:red"> <b> Why do the indices that are added automatically by pandas appear out of order? </b></span> 
<br>(Just a question to let you think of how pandas dataframes are indexed.)

### Dataset 2: Billboard Top 100

This dataset outlines data about the top hit songs on the Billboard list.

In [46]:
df = pd.read_csv("./data/billboard.csv", encoding="mac_latin2")
df.head(10)

,year,artist.inverted,track,time,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,78,63.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,15,8.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,71,48.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,41,23.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,57,47.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2000,Janet,Doesn't Really Matter,4:17,Rock,2000-06-17,2000-08-26,59,52.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2000,Destiny's Child,Say My Name,4:31,Rock,1999-12-25,2000-03-18,83,83.0,44.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2000,"Iglesias, Enrique",Be With You,3:36,Latin,2000-04-01,2000-06-24,63,45.0,34.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2000,Sisqo,Incomplete,3:52,Rock,2000-06-24,2000-08-12,77,66.0,61.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,81,54.0,44.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<span style="color:red"> <b> Again: What are the attributes of interest? How are they organized? Is the dataset tidy? </b></span>

The structure of the dataset is more complex than the previous one, and it is not immediately clear what a typical row should represent or look like. Answering the above questions helps you frame the data better. 
<br>You can brainstorm your thought process and document in a new cell if you like.

## Let's tidy the dataset!

One way a record could be organized is to make it represent the rank of each song in every week the song was on the Billboard list. This omits the need to keep track of all 76 weeks data, which is null for most of the songs.

A record would have data about the year, artist, track, time, genre, week, rank, and date.

The unique identifier is no single attribute, as one artist can have the track on the billboards at the same year, genre, and time. The only difference would be the week, rank, and date (since date is correlated with week). Therefore, to identify a track's rank and week, we need to use the year, artist, track, time, genre, and date as a combined unique identifier.

### <span style="color:blue"> Note on conversions in Python</span>

<span style="color:blue"> The following conversions are accepted by Python:</span>
<br><span style="color:blue"> - passing a string representation of an integer into int</span>
<br><span style="color:blue"> - passing a string representation of a float into float</span>
<br><span style="color:blue"> - passing a string representation of an integer into float</span>
<br><span style="color:blue"> - passing an integer into float</span>
<br><span style="color:blue"> - passing a float into int</span>

<span style="color:blue"> You get an error if you pass a string representation of a float (or anything other than an integer) into int</span>
<br><span style="color:blue"> This is especially problematic if you have NaN values that are float and you want to convert them to integers. It does not work using int, and you have to use Int32. </span>

Now back to tidying up the Billboard dataset!

In [47]:
# Melting
# Define unique identifiers in one variable. Include both dates of entry and peak for now; will be merged into one attribute later.
id_vars = ["year","artist.inverted","track","time","genre","date.entered","date.peaked"]
# Now melt structure to have identifiers, variable name (week) and values (rank)
df = pd.melt(frame=df,id_vars=id_vars, var_name="week", value_name="rank")

# Formatting 
# First, for week attribute, extract week number from string representation of week column names and convert to float then to integer
df["week"] = df["week"].str.extract('(\d+)', expand=False).astype(float).astype(int) 
# Second, extract rank values and convert them to integer
df["rank"] = df["rank"].astype('Int32')

# Cleaning out unnecessary rows
df = df.dropna()

# Create "date" columns
# Date for each week is date the track entered the billboard + number of weeks passed for an entry
# Example: if date entered is 26/02/2000, then this is the date for week 1, and the date will change for week 2 to become 04/03/2000, and so on
df["date"] = pd.to_datetime(df["date.entered"]) + pd.to_timedelta(df["week"], unit='w') - pd.DateOffset(weeks=1)


# Frame the final tidy data, replacing the dates of entry and peak with only the date, then sort by the identifiers
final_df = df[["year", "artist.inverted", "track", "time", "genre", "week", "rank", "date"]]
final_df = final_df.sort_values(ascending=True, by=["year","artist.inverted","track","week","rank"])

# Assigning the tidy dataset to a variable for future usage
billboard = final_df

<span style="color:red"><b>Why did we convert the week string to float before converting it to int?</b></span>

<span style="color:red"><b>What does the parameter '(\d+)' in the string.extract method do? </b></span>

In [48]:
# Now let's check the tidied data frame
# Separating this line of code to avoid running the formatting code multiple times and getting errors
final_df

,year,artist.inverted,track,time,genre,week,rank,date
246,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,1,87,2000-02-26
563,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,2,82,2000-03-04
880,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,3,72,2000-03-11
1197,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,4,77,2000-03-18
1514,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,5,87,2000-03-25
1831,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,6,94,2000-04-01
2148,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,7,99,2000-04-08
287,2000,2Ge+her,The Hardest Part Of Breaking Up (Is Getting Ba...,3:15,R&B,1,91,2000-09-02
604,2000,2Ge+her,The Hardest Part Of Breaking Up (Is Getting Ba...,3:15,R&B,2,87,2000-09-09
921,2000,2Ge+her,The Hardest Part Of Breaking Up (Is Getting Ba...,3:15,R&B,3,92,2000-09-16
24,2000,3 Doors Down,Kryptonite,3:53,Rock,1,81,2000-04-08
341,2000,3 Doors Down,Kryptonite,3:53,Rock,2,70,2000-04-15
658,2000,3 Doors Down,Kryptonite,3:53,Rock,3,68,2000-04-22
975,2000,3 Doors Down,Kryptonite,3:53,Rock,4,67,2000-04-29
1292,2000,3 Doors Down,Kryptonite,3:53,Rock,5,66,2000-05-06
1609,2000,3 Doors Down,Kryptonite,3:53,Rock,6,57,2000-05-13
1926,2000,3 Doors Down,Kryptonite,3:53,Rock,7,54,2000-05-20
2243,2000,3 Doors Down,Kryptonite,3:53,Rock,8,53,2000-05-27
2560,2000,3 Doors Down,Kryptonite,3:53,Rock,9,51,2000-06-03
2877,2000,3 Doors Down,Kryptonite,3:53,Rock,10,51,2000-06-10
3194,2000,3 Doors Down,Kryptonite,3:53,Rock,11,51,2000-06-17
3511,2000,3 Doors Down,Kryptonite,3:53,Rock,12,51,2000-06-24
3828,2000,3 Doors Down,Kryptonite,3:53,Rock,13,47,2000-07-01
4145,2000,3 Doors Down,Kryptonite,3:53,Rock,14,44,2000-07-08
4462,2000,3 Doors Down,Kryptonite,3:53,Rock,15,38,2000-07-15
4779,2000,3 Doors Down,Kryptonite,3:53,Rock,16,28,2000-07-22
5096,2000,3 Doors Down,Kryptonite,3:53,Rock,17,22,2000-07-29
5413,2000,3 Doors Down,Kryptonite,3:53,Rock,18,18,2000-08-05
5730,2000,3 Doors Down,Kryptonite,3:53,Rock,19,18,2000-08-12
6047,2000,3 Doors Down,Kryptonite,3:53,Rock,20,14,2000-08-19
...,...,...,...,...,...,...,...,...
2868,2000,matchbox twenty,Bent,4:12,Rock,10,12,2000-07-01
3185,2000,matchbox twenty,Bent,4:12,Rock,11,8,2000-07-08
3502,2000,matchbox twenty,Bent,4:12,Rock,12,6,2000-07-15
3819,2000,matchbox twenty,Bent,4:12,Rock,13,1,2000-07-22
4136,2000,matchbox twenty,Bent,4:12,Rock,14,2,2000-07-29
4453,2000,matchbox twenty,Bent,4:12,Rock,15,3,2000-08-05
4770,2000,matchbox twenty,Bent,4:12,Rock,16,2,2000-08-12
5087,2000,matchbox twenty,Bent,4:12,Rock,17,2,2000-08-19
5404,2000,matchbox twenty,Bent,4:12,Rock,18,3,2000-08-26
5721,2000,matchbox twenty,Bent,4:12,Rock,19,4,2000-09-02
6038,2000,matchbox twenty,Bent,4:12,Rock,20,5,2000-09-09
6355,2000,matchbox twenty,Bent,4:12,Rock,21,4,2000-09-16
6672,2000,matchbox twenty,Bent,4:12,Rock,22,4,2000-09-23
6989,2000,matchbox twenty,Bent,4:12,Rock,23,6,2000-09-30
7306,2000,matchbox twenty,Bent,4:12,Rock,24,9,2000-10-07
7623,2000,matchbox twenty,Bent,4:12,Rock,25,12,2000-10-14
7940,2000,matchbox twenty,Bent,4:12,Rock,26,13,2000-10-21
8257,2000,matchbox twenty,Bent,4:12,Rock,27,19,2000-10-28
8574,2000,matchbox twenty,Bent,4:12,Rock,28,20,2000-11-04
8891,2000,matchbox twenty,Bent,4:12,Rock,29,20,2000-11-11
9208,2000,matchbox twenty,Bent,4:12,Rock,30,24,2000-11-18
9525,2000,matchbox twenty,Bent,4:12,Rock,31,29,2000-11-25
9842,2000,matchbox twenty,Bent,4:12,Rock,32,28,2000-12-02
10159,2000,matchbox twenty,Bent,4:12,Rock,33,27,2000-12-09
10476,2000,matchbox twenty,Bent,4:12,Rock,34,30,2000-12-16
10793,2000,matchbox twenty,Bent,4:12,Rock,35,33,2000-12-23
11110,2000,matchbox twenty,Bent,4:12,Rock,36,37,2000-12-30
11427,2000,matchbox twenty,Bent,4:12,Rock,37,38,2001-01-06
11744,2000,matchbox twenty,Bent,4:12,Rock,38,38,2001-01-13
12061,2000,matchbox twenty,Bent,4:12,Rock,39,48,2001-01-20

### Dataset 3: Tubercolosis

This dataset outlines the number of tubercolosis patients in different countries in the year 2000.

A few notes on the raw data set:

- The columns starting with "m" or "f" contain multiple variables: 
    - Sex ("m" or "f")
    - Age Group ("0-14","15-24", "25-34", "45-54", "55-64", "65", "unknown")
- Mixture of 0s and missing values("NaN"). This is due to the data collection process and the distinction is important for this dataset.

In [52]:
df = pd.read_csv("./data/tb-raw.csv")
df

  country  year   m014  m1524   m2534  m3544  m4554  m5564    m65  mu   f014
0      AD  2000    0.0    0.0     1.0    0.0      0      0    0.0 NaN    NaN
1      AE  2000    2.0    4.0     4.0    6.0      5     12   10.0 NaN    3.0
2      AF  2000   52.0  228.0   183.0  149.0    129     94   80.0 NaN   93.0
3      AG  2000    0.0    0.0     0.0    0.0      0      0    1.0 NaN    1.0
4      AL  2000    2.0   19.0    21.0   14.0     24     19   16.0 NaN    3.0
5      AM  2000    2.0  152.0   130.0  131.0     63     26   21.0 NaN    1.0
6      AN  2000    0.0    0.0     1.0    2.0      0      0    0.0 NaN    0.0
7      AO  2000  186.0  999.0  1003.0  912.0    482    312  194.0 NaN  247.0
8      AR  2000   97.0  278.0   594.0  402.0    419    368  330.0 NaN  121.0
9      AS  2000    NaN    NaN     NaN    NaN      1      1    NaN NaN    NaN

<span style="color:red"> <b> Again: What are the attributes of interest? How are they organized? Is the dataset tidy? </b></span>

## Let's tidy the dataset!

Same as what we did before: We need identifiers, we need the column names to represent variables (two in this case, since the column names carry information about gender and age group), and we need the frequency values to be in one column.

In [53]:
# Let's use the year and country as unique identifiers, and name the # of patients as "cases" and the column variables as "sex and age"
df = pd.melt(df, id_vars=["country","year"], value_name="cases", var_name="sex_and_age")

# Extract Sex, Age lower bound and Age upper bound group
tmp_df = df["sex_and_age"].str.extract("(\D)(\d+)(\d{2})", expand=False)    

# tmp_df now has multiple columns corresponding to the strings extracted from the column names. Now name the columns
tmp_df.columns = ["sex", "age_lower", "age_upper"]

# Create "age" column based on "age_lower" and "age_upper"
tmp_df["age"] = tmp_df["age_lower"] + "-" + tmp_df["age_upper"]

# Merge - axis parameter indicates the axis along which merge will take place. 1 means by columns
df = pd.concat([df, tmp_df], axis=1)

# Drop unnecessary columns and rows
df = df.drop(['sex_and_age',"age_lower","age_upper"], axis=1)
# Drop null values
df = df.dropna()
# Sort rows by all four attributes
df = df.sort_values(ascending=True,by=["country", "year", "sex", "age"])
df.head(10)

   country  year  cases sex    age
0       AD  2000    0.0   m   0-14
10      AD  2000    0.0   m  15-24
20      AD  2000    1.0   m  25-34
30      AD  2000    0.0   m  35-44
40      AD  2000    0.0   m  45-54
50      AD  2000    0.0   m  55-64
81      AE  2000    3.0   f   0-14
1       AE  2000    2.0   m   0-14
11      AE  2000    4.0   m  15-24
21      AE  2000    4.0   m  25-34

<span style="color:red"><b>What does the parameter value "(\D)(\d+)(\d{2})" do?</b></span>

### Dataset 4: Global Historical Climatology Network

In [20]:
df = pd.read_csv("./data/weather-raw.csv")
df.head(10)

         id  year  month element  d1    d2    d3  d4    d5  d6  d7  d8
0   MX17004  2010      1    tmax NaN   NaN   NaN NaN   NaN NaN NaN NaN
1   MX17004  2010      1    tmin NaN   NaN   NaN NaN   NaN NaN NaN NaN
2  MX17004   2010      2    tmax NaN  27.3  24.1 NaN   NaN NaN NaN NaN
3   MX17004  2010      2    tmin NaN  14.4  14.4 NaN   NaN NaN NaN NaN
4   MX17004  2010      3    tmax NaN   NaN   NaN NaN  32.1 NaN NaN NaN
5   MX17004  2010      3    tmin NaN   NaN   NaN NaN  14.2 NaN NaN NaN
6   MX17004  2010      4    tmax NaN   NaN   NaN NaN   NaN NaN NaN NaN
7   MX17004  2010      4    tmin NaN   NaN   NaN NaN   NaN NaN NaN NaN
8   MX17004  2010      5    tmax NaN   NaN   NaN NaN   NaN NaN NaN NaN
9   MX17004  2010      5    tmin NaN   NaN   NaN NaN   NaN NaN NaN NaN

In this dataset, variables are stored in both rows and columns. tmax and tmin stand for max and min temperatures for each day. Date is broken down to three columns, with the day being spread across multiple columns. We need the data to represent min and max temperatures per date.

Notice that the dataset has many missing values.

## Let's tidy the dataset!

Same as what we did before: We need identifiers, we need the column names to represent variables (min and max, and date!), and we need the temperature values to be in two columns.

In [21]:
# Let's start first by putting the day values in one column. We will not play with min and max temperatures for now
df = pd.melt(df, id_vars=["id", "year","month","element"], value_vars=["d2"] ,var_name="day_raw")
df.head(10)

         id  year  month element day_raw  value
0   MX17004  2010      1    tmax      d2    NaN
1   MX17004  2010      1    tmin      d2    NaN
2  MX17004   2010      2    tmax      d2   27.3
3   MX17004  2010      2    tmin      d2   14.4
4   MX17004  2010      3    tmax      d2    NaN
5   MX17004  2010      3    tmin      d2    NaN
6   MX17004  2010      4    tmax      d2    NaN
7   MX17004  2010      4    tmin      d2    NaN
8   MX17004  2010      5    tmax      d2    NaN
9   MX17004  2010      5    tmin      d2    NaN

In [11]:
# Extracting day
# df["day"] automatically adds a "day" attribute to the df dataframe
df["day"] = df["day_raw"].str.extract("d(\d+)", expand=False)  
df["id"] = "MX17004"

# Convert year, month, and day to numeric values
# Notice the use of the lamda function to apply one instruction to multiple inputs
df[["year","month","day"]] = df[["year","month","day"]].apply(lambda x: pd.to_numeric(x, errors='ignore'))

# Let's define a function to create a date from the different columns. Function accepts a row of 3 values as input and returns consolidated date
def create_date_from_year_month_day(row):
    return datetime.datetime(year=row["year"], month=int(row["month"]), day=row["day"])

# Define date attribute, by having the temporary lamda function call the create_date function
df["date"] = df.apply(lambda row: create_date_from_year_month_day(row), axis=1)
# Drop the redundant columns used to compute date
df = df.drop(['year',"month","day", "day_raw"], axis=1)
# Now drop the missing values
df = df.dropna()

# Unmelting column "element"
df = df.pivot_table(index=["id","date"], columns="element", values="value")
df.reset_index(drop=False, inplace=True)
df

element       id       date  tmax  tmin
0        MX17004 2010-02-02  27.3  14.4
1        MX17004 2010-02-03  24.1  14.4
2        MX17004 2010-03-05  32.1  14.2

## <span style="color:red"> Exercise your tidying muscles! </span>

<span style="color:red"><b> The GapMinder dataset includes information about the life expectancy, the GDP per capita, and the population of various countries between the years 1952 and 2007.</b></span>

<span style="color:red"> <b>Import the dataset, investigate it to identify what the potential attributes should be, the problems with the current structure, and think of how to tidy the dataset, and then proceed to tidy the dataset.</b></span>

In [55]:
df = pd.read_csv("./data/gapminder.csv")
df.columns

Index(['continent', 'country', 'gdpPercap_1952', 'gdpPercap_1957',
       'gdpPercap_1962', 'gdpPercap_1967', 'gdpPercap_1972', 'gdpPercap_1977',
       'gdpPercap_1982', 'gdpPercap_1987', 'gdpPercap_1992', 'gdpPercap_1997',
       'gdpPercap_2002', 'gdpPercap_2007', 'lifeExp_1952', 'lifeExp_1957',
       'lifeExp_1962', 'lifeExp_1967', 'lifeExp_1972', 'lifeExp_1977',
       'lifeExp_1982', 'lifeExp_1987', 'lifeExp_1992', 'lifeExp_1997',
       'lifeExp_2002', 'lifeExp_2007', 'pop_1952', 'pop_1957', 'pop_1962',
       'pop_1967', 'pop_1972', 'pop_1977', 'pop_1982', 'pop_1987', 'pop_1992',
       'pop_1997', 'pop_2002', 'pop_2007'],
      dtype='object')

In [58]:
df = pd.melt(df, id_vars=['continent', 'country','gdpPercap_1952', 'gdpPercap_1957',
       'gdpPercap_1962', 'gdpPercap_1967', 'gdpPercap_1972', 'gdpPercap_1977',
       'gdpPercap_1982', 'gdpPercap_1987', 'gdpPercap_1992', 'gdpPercap_1997','lifeExp_1952', 'lifeExp_1957',
       'lifeExp_1962', 'lifeExp_1967', 'lifeExp_1972', 'lifeExp_1977',
       'lifeExp_1982', 'lifeExp_1987', 'lifeExp_1992', 'lifeExp_1997',
       'lifeExp_2002', 'lifeExp_2007'],  value_vars=['pop_1952', 'pop_1957', 'pop_1962',
       'pop_1967', 'pop_1972', 'pop_1977', 'pop_1982', 'pop_1987', 'pop_1992',
       'pop_1997', 'pop_2002', 'pop_2007'],value_name="yearsToPop", var_name ="cases")
df

,continent,country,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,...,lifeExp_1972,lifeExp_1977,lifeExp_1982,lifeExp_1987,lifeExp_1992,lifeExp_1997,lifeExp_2002,lifeExp_2007,cases,yearsToPop
0,Africa,Algeria,2449.008185,3013.976023,2550.816880,3246.991771,4182.663766,4910.416756,5745.160213,5681.358539,...,54.518,58.014,61.368,65.799,67.744,69.152,70.994,72.301,pop_1952,9279525.0
1,Africa,Angola,3520.610273,3827.940465,4269.276742,5522.776375,5473.288005,3008.647355,2756.953672,2430.208311,...,37.928,39.483,39.942,39.906,40.647,40.963,41.003,42.731,pop_1952,4232095.0
2,Africa,Benin,1062.752200,959.601080,949.499064,1035.831411,1085.796879,1029.161251,1277.897616,1225.856010,...,47.014,49.190,50.904,52.337,53.919,54.777,54.406,56.728,pop_1952,1738315.0
3,Africa,Botswana,851.241141,918.232535,983.653976,1214.709294,2263.611114,3214.857818,4551.142150,6205.883850,...,56.024,59.319,61.484,63.622,62.745,52.556,46.634,50.728,pop_1952,442308.0
4,Africa,Burkina Faso,543.255241,617.183465,722.512021,794.826560,854.735976,743.387037,807.198586,912.063142,...,43.591,46.137,48.122,49.557,50.260,50.324,50.650,52.295,pop_1952,4469979.0
5,Africa,Burundi,339.296459,379.564628,355.203227,412.977514,464.099504,556.103265,559.603231,621.818819,...,44.057,45.910,47.471,48.211,44.736,45.326,47.360,49.580,pop_1952,2445618.0
6,Africa,Cameroon,1172.667655,1313.048099,1399.607441,1508.453148,1684.146528,1783.432873,2367.983282,2602.664206,...,47.049,49.355,52.961,54.985,54.314,52.199,49.856,50.430,pop_1952,5009067.0
7,Africa,Central African Republic,1071.310713,1190.844328,1193.068753,1136.056615,1070.013275,1109.374338,956.752991,844.876350,...,43.457,46.775,48.295,50.485,49.396,46.066,43.308,44.741,pop_1952,1291695.0
8,Africa,Chad,1178.665927,1308.495577,1389.817618,1196.810565,1104.103987,1133.984950,797.908101,952.386129,...,45.569,47.383,49.517,51.051,51.724,51.573,50.525,50.651,pop_1952,2682462.0
9,Africa,Comoros,1102.990936,1211.148548,1406.648278,1876.029643,1937.577675,1172.603047,1267.100083,1315.980812,...,48.944,50.939,52.933,54.926,57.939,60.660,62.974,65.152,pop_1952,153936.0
10,Africa,Congo Dem. Rep.,780.542326,905.860230,896.314634,861.593242,904.896069,795.757282,673.747818,672.774812,...,45.989,47.804,47.784,47.412,45.548,42.587,44.966,46.462,pop_1952,14100005.0
11,Africa,Congo Rep.,2125.621418,2315.056572,2464.783157,2677.939642,3213.152683,3259.178978,4879.507522,4201.194937,...,54.907,55.625,56.695,57.470,56.433,52.962,52.970,55.322,pop_1952,854885.0
12,Africa,Cote d'Ivoire,1388.594732,1500.895925,1728.869428,2052.050473,2378.201111,2517.736547,2602.710169,2156.956069,...,49.801,52.374,53.983,54.655,52.044,47.991,46.832,48.328,pop_1952,2977019.0
13,Africa,Djibouti,2669.529475,2864.969076,3020.989263,3020.050513,3694.212352,3081.761022,2879.468067,2880.102568,...,44.366,46.519,48.812,50.040,51.604,53.157,53.373,54.791,pop_1952,63149.0
14,Africa,Egypt,1418.822445,1458.915272,1693.335853,1814.880728,2024.008147,2785.493582,3503.729636,3885.460710,...,51.137,53.319,56.006,59.797,63.674,67.217,69.806,71.338,pop_1952,22223309.0
15,Africa,Equatorial Guinea,375.643123,426.096408,582.841971,915.596003,672.412257,958.566812,927.825343,966.896815,...,40.516,42.024,43.662,45.664,47.545,48.245,49.348,51.579,pop_1952,216964.0
16,Africa,Eritrea,328.940557,344.161886,380.995843,468.794970,514.324208,505.753808,524.875849,521.134133,...,44.142,44.535,43.890,46.453,49.991,53.378,55.240,58.040,pop_1952,1438760.0
17,Africa,Ethiopia,362.146280,378.904163,419.456416,516.118644,566.243944,556.808383,577.860747,573.741314,...,43.515,44.510,44.916,46.684,48.091,49.402,50.725,52.947,pop_1952,20860941.0
18,Africa,Gabon,4293.476475,4976.198099,6631.459222,8358.761987,11401.948410,21745.573280,15113.361940,11864.408440,...,48.690,52.790,56.564,60.190,61.366,60.461,56.761,56.735,pop_1952,420702.0
19,Africa,Gambia,485.230659,520.926711,599.650276,734.782912,756.086836,884.755251,835.809611,611.658861,...,38.308,41.842,45.580,49.265,52.644,55.861,58.041,59.448,pop_1952,284320.0
20,Africa,Ghana,911.298937,1043.561537,1190.041118,1125.697160,1178.223708,993.223957,876.032569,847.006113,...,49.875,51.756,53.744,55.729,57.501,58.556,58.453,60.022,pop_1952,5581001.0
21,Africa,Guinea,510.196492,576.267025,686.373674,708.759541,741.666231,874.685864,857.250358,805.572472,...,38.842,40.762,42.891,45.552,48.576,51.455,53.676,56.007,pop_1952,2664249.0
22,Africa,Guinea-Bissau,299.850319,431.790457,522.034373,715.580640,820.224588,764.725963,838.123967,736.415392,...,36.486,37.465,39.327,41.245,43.266,44.873,45.504,46.388,pop_1952,580653.0
23,Africa,Kenya,853.540919,944.438315,896.966373,1056.736457,1222.359968,1267.613204,1348.225791,1361.936856,...,53.559,56.155,58.766,59.339,59.285,54.407,50.992,54.110,pop_1952,6464046.0
24,Africa,Lesotho,298.846212,335.997115,411.800627,498.639026,496.581592,745.369541,797.263107,773.993214,...,49.767,52.208,55.078,57.180,59.685,55.558,44.593,42.592,pop_1952,748747.0
25,Africa,Liberia,575.572996,620.969990,634.195163,713.603648,803.005454,640.322438,572.199569,506.113857,...,42.614,43.764,44.852,46.027,40.802,42.221,43.753,45.678,pop_1952,863308.0
26,Africa,Libya,2387.548060,3448.284395,6757.030816,18772.751690,21011.497210,21951.211760,17364.275380,11770.589800,...,52.773,57.442,62.155,66.234,68.755,71.555,72.737,73.952,pop_1952,1019729.0
27,Africa,Madagascar,1443.011715,1589.202750,1643.387110,1634.047282,1748.562982,1544.228586,1302.878658,1155.441948,...,44.851,46.881,48.969,49.350,52.214,54.978,57.286,59.443,pop_1952,4762912.0
28,Africa,Malawi,369.165080,416.369806,427.901086,495.514781,584.621971,663.223677,632.803921,635.517363,...,41.766,43.767,45.642,47.457,49.420,47.495,45.009,48.303,pop_1952,2917802.0
29,Africa,Mali,452.336981,490.382187,496.174343,545.009887,581.368876,686.395269,618.014064,684.171558,...,39.977,41.714,43.916,46.364,48.388,49.903,51.818,54.467,pop_1952,3838168.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1674,Europe,Belgium,8343.105127,9714.960623,10991.206760,13149.041190,16672.143560,19117.974480,20979.845890,22525.563080,...,71.440,72.800,73.930,75.350,76.460,77.530,78.320,79.441,pop_2007,10392226.0
1675,Europe,Bosnia and Herzegovina,973.533195,1353.989176,1709.683679,2172.352423,2860.169750,3528.481305,4126.613157,4314.114757,...,67.450,69.860,70.690,71.140,72.178,73.244,74.090,74.852,pop_2007,4552198.0
1676,Europe,Bulgaria,2444.286648,3008.670727,4254.337839,5577.002800,6597.494398,7612.240438,8224.191647,8239.854824,...,70.900,70.810,71.080,71.340,71.190,70.320,72.140,73.005,pop_2007,7322858.0
1677,Europe,Croatia,3119.236520,4338.231617,5477.890018,6960.297861,9164.090127,11305.385170,13221.821840,13822.583940,...,69.610,70.640,70.460,71.520,72.527,73.680,74.876,75.748,pop_2007,4493312.0
1678,Europe,Czech Republic,6876.140250,8256.343918,10136.867130,11399.444890,13108.453600,14800.160620,15377.228550,16310.443400,...,70.290,70.710,70.960,71.580,72.400,74.010,75.510,76.486,pop_2007,10228744.0
1679,Europe,Denmark,9692.385245,11099.659350,13583.313510,15937.211230,18866.207210,20422.901500,21688.040480,25116.175810,...,73.470,74.690,74.630,74.800,75.330,76.110,77.180,78.332,pop_2007,5468120.0
1680,Europe,Finland,6424.519071,7545.415386,9371.842561,10921.636260,14358.875900,15605.422830,18533.157610,21141.012230,...,70.870,72.520,74.550,74.830,75.700,77.130,78.370,79.313,pop_2007,5238460.0
1681,Europe,France,7029.809327,8662.834898,10560.485530,12999.917660,16107.191710,18292.635140,20293.897460,22066.442140,...,72.380,73.830,74.890,76.340,77.460,78.640,79.590,80.657,pop_2007,61083916.0
1682,Europe,Germany,7144.114393,10187.826650,12902.462910,14745.625610,18016.180270,20512.921230,22031.532740,24639.185660,...,71.000,72.500,73.800,74.847,76.070,77.340,78.670,79.406,pop_2007,82400996.0
1683,Europe,Greece,3530.690067,4916.299889,6017.190733,8513.097016,12724.829570,14195.524280,15268.420890,16120.528390,...,72.340,73.680,75.240,76.670,77.030,77.869,78.256,79.483,pop_2007,10706290.0
1684,Europe,Hungary,5263.673816,6040.180011,7550.359877,9326.644670,10168.656110,11674.837370,12545.990660,12986.479980,...,69.760,69.950,69.390,69.580,69.170,71.040,72.590,73.338,pop_2007,9956108.0
1685,Europe,Iceland,7267.688428,9244.001412,10350.159060,13319.895680,15798.063620,19654.962470,23269.607500,26923.206280,...,74.460,76.110,76.990,77.230,78.770,78.950,80.500,81.757,pop_2007,301931.0
1686,Europe,Ireland,5210.280328,5599.077872,6631.597314,7655.568963,9530.772896,11150.981130,12618.321410,13872.866520,...,71.280,72.030,73.100,74.360,75.467,76.122,77.783,78.885,pop_2007,4109086.0
1687,Europe,Italy,4931.404155,6248.656232,8243.582340,10022.401310,12269.273780,14255.984750,16537.483500,19207.234820,...,72.190,73.480,74.980,76.420,77.440,78.820,80.240,80.546,pop_2007,58147733.0
1688,Europe,Montenegro,2647.585601,3682.259903,4649.593785,5907.850937,7778.414017,9595.929905,11222.587620,11732.510170,...,70.636,73.066,74.101,74.865,75.435,75.445,73.981,74.543,pop_2007,684736.0
1689,Europe,Netherlands,8941.571858,11276.193440,12790.849560,15363.251360,18794.745670,21209.059200,21399.460460,23651.323610,...,73.750,75.240,76.050,76.830,77.420,78.030,78.530,79.762,pop_2007,16570613.0
1690,Europe,Norway,10095.421720,11653.973040,13450.401510,16361.876470,18965.055510,23311.349390,26298.635310,31540.974800,...,74.340,75.370,75.970,75.890,77.320,78.320,79.050,80.196,pop_2007,4627926.0
1691,Europe,Poland,4029.329699,4734.253019,5338.752143,6557.152776,8006.506993,9508.141454,8451.531004,9082.351172,...,70.850,70.670,71.320,70.980,70.990,72.750,74.670,75.563,pop_2007,38518241.0
1692,Europe,Portugal,3068.319867,3774.571743,4727.954889,6361.517993,9022.247417,10172.485720,11753.842910,13039.308760,...,69.260,70.410,72.770,74.060,74.860,75.970,77.290,78.098,pop_2007,10642836.0
1693,Europe,Romania,3144.613186,3943.370225,4734.997586,6470.866545,8011.414402,9356.397240,9605.314053,9696.273295,...,69.210,69.460,69.660,69.530,69.360,69.720,71.322,72.476,pop_2007,22276056.0
1694,Europe,Serbia,3581.459448,4981.090891,6289.629157,7991.707066,10522.067490,12980.669560,15181.092700,15870.878510,...,68.700,70.300,70.162,71.218,71.659,72.232,73.213,74.002,pop_2007,10150265.0
1695,Europe,Slovak Republic,5074.659104,6093.262980,7481.107598,8412.902397,9674.167626,10922.664040,11348.545850,12037.267580,...,70.350,70.450,70.800,71.080,71.380,72.710,73.800,74.663,pop_2007,5447502.0
1696,Europe,Slovenia,4215.041741,5862.276629,7402.303395,9405.489397,12383.486200,15277.030170,17866.721750,18678.534920,...,69.820,70.970,71.063,72.250,73.640,75.130,76.660,77.926,pop_2007,2009245.0
1697,Europe,Spain,3834.034742,4564.802410,5693.843879,7993.512294,10638.751310,13236.921170,13926.169970,15764.983130,...,73.060,74.390,76.300,76.900,77.570,78.770,79.780,80.941,pop_2007,40448191.0
1698,Europe,Sweden,8527.844662,9911.878226,12329.441920,15258.296970,17832.024640,18855.725210,20667.381250,23586.929270,...,74.720,75.440,76.420,77.190,78.160,79.390,80.040,80.884,pop_2007,9031088.0
1699,Europe,Switzerland,14734.232750,17909.489730,20431.092700,22966.144320,27195.113040,26982.290520,28397.715120,30281.704590,...,73.780,75.390,76.210,77.410,78.030,79.370,80.620,81.701,pop_2007,7554661.0
1700,Europe,Turkey,1969.100980,2218.754257,2322.869908,2826.356387,3450.696380,4269.122326,4241.356344,5089.043686,...,57.005,59.507,61.036,63.108,66.146,68.835,70.845,71.777,pop_2007,71158647.0
1701,Europe,United Kingdom,9979.508487,11283.177950,12477.177070,14142.850890,15895.116410,17428.748460,18232.424520,21664.787670,...,72.010,72.760,74.040,75.007,76.420,77.218,78.471,79.425,pop_2007,60776238.0
1702,Oceania,Australia,10039.595640,10949.649590,12217.226860,14526.124650,16788.629480,18334.197510,19477.009280,21888.889030,...,71.930,73.490,74.740,76.320,77.560,78.830,80.370,81.235,pop_2007,20434176.0
1703,Oceania,New Zealand,10556.575660,12247.395320,13175.678000,14463.918930,16046.037280,16233.717700,17632.410400,19007.191290,...,71.890,72.220,73.840,74.320,76.330,77.550,79.110,80.204,pop_2007,4115771.0